@charset "UTF-8";
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.videosection {
    height: 100%;
    background-color: white;
    position: relative;
    overflow: hidden;
}
video {
    opacity: 0.6;
}
#video-style {
    background: linear-gradient(to bottom, #1f1e1d 0%, #af6f6f 100%);
}
.heading {
    background-color: rgba(0, 0, 0, 0.361);
    position: relative;
    margin-top: -600px;
    width: 50%;
    height: 72px;
    text-align: center;
    animation: shrink 5s;
}
.drinkhead {
    color: white;
    font-family: "A Iranian Sans";
    font-size: 52.78px;
    position: relative;
}
.headermenu {
    background-color: rgba(0, 0, 0, 0.361);
    position: fixed;
    left: 50%;
    /*margin-top: -152px;*/
    
    top: 0;
    width: 50%;
    height: 72px;
    text-align: center;
    z-index: 3;
    -webkit-animation: comedown 3s;
    -o-animation: comedown 3s;
    -moz-animation: comedown 3s;
    animation: comedown 3s;
}
.headerlink {
    display: inline-block;
    position: relative;
    margin-top: 25px;
    margin-left: 10px;
    color: white;
    font-size: 11.67px;
    font-family: "A Iranian Sans";
    text-align: center;
}
.headerlink:link {
    text-decoration: none;
}
.headerlink:visited {
    color: white;
    text-decoration: none;
}
.headerlink:hover {
    text-decoration: none;
    /*font-size: 20px;*/
}
.headerlink:active {
    text-decoration: none;
}
.toolBar {
    position: relative;
    padding-left: 40px;
    text-align: center;
}
.logo {
    height: 100%;
    width: 100%;
}
.scroll {
    background-color: rgba(0, 0, 0, 0.361);
    height: 52px;
    /* margin-top: 447px; */
    
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.glyphicon-chevron-down {
    font-size: 30px;
    color: white;
    left: auto;
    right: auto;
}
.mainsection {
    min-height: 107%;
}
.img {
    height: 280px;
    ;
    width: 100%;
    position: relative;
}
.frow,
.srow,
.orow {
    margin-top: 3%;
    align-content: center;
    padding: 0 5%;
}
.cheffname {
    text-align: right;
    /* background-color: rgba(175, 35, 35,0.5); */
    
    opacity: 1;
    position: relative;
    margin-top: -16%;
    margin-left: 0px;
    width: 100%;
    height: 41px;
    clear: both;
    z-index: 1;
    background: linear-gradient(to right, rgba(121, 87, 87, 0.5), rgb(187, 98, 98));
    /*    transition: width 4s;*/
}
.cheffnameheading {
    font-family: "A Iranian Sans";
    color: white;
    top: 22%;
    font-size: 18px;
    /* margin-top: 79%; */
    
    margin-right: 10px;
    text-align: right;
    position: relative;
    clear: both;
    display: inline;
}
.followicon {
    position: relative;
    /* display: inline; */
    
    width: 62%;
    left: -30%;
    top: -10%;
    margin-top: -10%;
    margin-left: 0px;
    height: 4%;
}
.buttondown {
    display: none;
    text-align: center;
}
.loadmore {
    font-family: "A Iranian Sans";
    font-size: 18px;
    color: white;
    position: relative;
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    padding: 10px 60px 10px 60px;
    background-color: #9e2020;
}
.backtotop {
    font-family: "A Iranian Sans";
    font-size: 18px;
    color: white;
    position: relative;
    text-align: center;
    border: none;
    padding: 10px 60px 10px 60px;
    background-color: #9e2020;
    margin-left: 40px;
    margin-right: 40px;
}
.footerlink {
    display: inline-block;
    position: relative;
    margin-left: 40px;
    margin-top: 10px;
    color: black;
    font-size: 13.67px;
    font-family: "A Iranian Sans";
}
.footerlink:link {
    text-decoration: none;
}
.footerlink:visited {
    color: black;
    text-decoration: none;
}
.footerlink:hover {
    text-decoration: none;
}
footer {
    background-color: #d1cdcd;
    height: 38px;
}
.copyright {
    position: relative;
    font-size: 10.67px;
    font-family: "A Iranian Sans";
    margin-left: 20px;
    margin-top: 15px;
}
@keyframes comedown {
    from {
        height: 0%;
    }
    to {
        height: 72px;
    }
}
@keyframes shrink {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
}