@charset "UTF-8";
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#wrapper {
    overflow-x: hidden;
    height: 100%;
}
.mainbackground {
    background-color: white;
    /*height: 660px;*/
    
    background-color: white;
    position: relative;
    overflow: hidden;
}
.abs {
    position: absolute;
    overflow: hidden;
}
.piaza {
    bottom: 11%;
    left: 36%;
    animation: piazmoves 4s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.42, 0, .58, 1);
}
.felfelD {
    bottom: 12%;
    left: 45%;
    animation: felfeli 3s;
    animation-fill-mode: forwards;
}
.piaza {
    bottom: 16%;
    left: 37%;
    /* height: 750px; */
    
    max-height: 32%;
}
.piaz {
    bottom: 35%;
    left: 23%;
    max-width: 8%;
}
.beans {
    bottom: 34%;
    left: 48%;
}
.sabzir {
    bottom: 44%;
    left: 54%;
    transform: rotateZ(30deg);
    animation: sbz 2s;
    animation-fill-mode: forwards;
}
.beanss {
    bottom: 55%;
    left: 46%;
}
.beansss {
    bottom: 47%;
    left: 46%;
}
.beans4 {
    bottom: 35%;
    left: 42%;
}
.beani {
    bottom: 45%;
    left: 38%;
}
.beanii {
    bottom: 57%;
    left: 41%;
}
.tom {
    bottom: 54%;
    left: 62%;
}
.tomm {
    bottom: 13%;
    left: 31%;
}
.tommm {
    bottom: 12%;
    left: 18%;
    animation: tom 3s;
    animation-fill-mode: forwards;
}
.sabzil {
    bottom: 17%;
    left: 2%;
    transform: rotateZ(50deg);
    animation: sbzz 3s;
    animation-fill-mode: forwards;
}
.pizi2 {
    bottom: 10%;
    left: 10%;
    animation: goup 3s;
    animation-fill-mode: forwards;
}
.foodpng {
    position: relative;
    height: 660px;
    width: 100%;
    transform: rotateZ(0deg);
    animation: rotate 3s;
    animation-fill-mode: forwards;
}
.heading {
    background-color: black;
    position: relative;
    margin-top: -600px;
    width: 50%;
    opacity: 0.361;
    height: 72px;
    text-align: center;
    animation: shrink 4s;
}
.chibepazamhead {
    color: white;
    font-family: font-family: "A Iranian Sans";
    font-size: 52.78px;
    position: relative;
}
.headermenu {
    background-color: rgba(0, 0, 0, 0.361);
    position: fixed;
    left: 50%;
    margin-top: -152px;
    width: 50%;
    height: 72px;
    text-align: center;
    z-index: 3;
    -webkit-animation: comedown 3s;
    -o-animation: comedown 3s;
    -moz-animation: comedown 3s;
    animation: comedown 3s;
}
.headerlink {
    display: inline-block;
    position: relative;
    margin-top: 25px;
    margin-left: 10px;
    color: white;
    font-size: 11.67px;
    font-family: "A Iranian Sans";
    text-align: center;
}
.headerlink:link {
    text-decoration: none;
}
.headerlink:visited {
    color: white;
    text-decoration: none;
}
.headerlink:hover {
    text-decoration: none;
    /*font-size: 20px;*/
}
.headerlink:active {
    text-decoration: none;
}
.toolBar {
    position: relative;
    padding-left: 40px;
    text-align: center;
}
.col-sm-3 {
    72px;
}
.logo {
    height: 100%;
    width: 100%;
}
.scroll {
    background-color: rgba(0, 0, 0, 0.361);
    height: 52px;
    margin-top: 470px;
    text-align: center;
}
.glyphicon-chevron-down {
    font-size: 30px;
    color: white;
    left: auto;
    right: auto;
}
.ch {
    height: 256px;
}
.title {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 80px;
    margin-bottom: 60px;
    padding: auto;
    font-family: "A Iranian Sans";
    font-size: 30px;
    color: white;
    text-align: center;
    clear: both;
    background-color: #9e2020;
    animation: shrinktoleft 3s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
.iconrow {
    position: relative;
    padding-top: 25px;
    clear: both;
}
.col-sm-2 {
    margin-right: 0px;
    margin-left: 100px;
}
.mainsection {
    position: relative;
    background-image: url(../images/bigstock-Wooden-Board-Empty-Table-blur-118765199.jpg);
    background-size: 100% 100%;
    height: 660px;
    text-align: center;
    overflow: hidden;
}
/*
.container{
position: relative;
height: 200px;
    
}
*/

.eggs {
    display: none;
    position: absolute;
    width: inherit;
    bottom: 5%;
    left: 11%;
    max-height: 40%;
    max-width: 35%;
    height: inherit;
    overflow: hidden;
    z-index: 0;
}
.onions {
    display: none;
    position: absolute;
    overflow: hidden;
    max-width: 13%;
    bottom: 1%;
    left: 5%;
}
.carrots {
    display: none;
    position: absolute;
    overflow: hidden;
    max-width: 24%;
    bottom: 3%;
    left: 30%;
}
.milk {
    display: none;
    overflow: hidden;
    position: absolute;
    left: 2%;
    max-width: 8%;
    bottom: 15%;
}
.tomato {
    display: none;
    overflow: hidden;
    position: absolute;
    max-width: 7%;
    bottom: 10%;
    left: 50%;
}
.chicken {
    display: none;
    position: absolute;
    overflow: hidden;
    max-width: 22%;
    bottom: 10%;
    left: 40%;
}
.pasta {
    display: none;
    position: absolute;
    overflow: hidden;
    max-width: 14%;
    bottom: 16%;
    left: 28%;
}
.potato {
    display: none;
    position: absolute;
    overflow: hidden;
    max-width: 12%;
    left: 16%;
    bottom: 3%;
}
.bread {
    display: none;
    position: absolute;
    overflow: hidden;
    max-width: 21%;
    left: 64%;
}
.cheese {
    display: none;
    position: absolute;
    overflow: hidden;
    max-width: 19%;
    left: 81%;
    bottom: 2%;
}
.meat {
    display: none;
    position: absolute;
    overflow: hidden;
    max-width: 13%;
    left: 57%;
    bottom: 3%;
}
.tuna {
    display: none;
    max-width: 10%;
    left: 43%;
    bottom: 4%;
}
.karafs {
    display: none;
    max-width: 12%;
    left: 75%;
    bottom: 12%;
}
.bademjoon {
    display: none;
    max-width: 20%;
    bottom: 0%;
    left: 30%;
}
.keshmesh {
    display: none;
    max-width: 10%;
    max-width: 6%;
    bottom: 4%;
    left: 82%;
}
.khorma {
    display: none;
    max-width: 5%;
    bottom: 10%;
    left: 69%;
}
.butter {
    display: none;
    max-width: 13%;
    left: 50%;
    bottom: 10%;
}
.rice {
    display: none;
    max-width: 15%;
    left: 28%;
    bottom: 13%;
}
.lime {
    display: none;
    max-width: 9%;
    bottom: 4%;
    left: 2%;
}
.nokhod {
    display: none;
    max-width: 9%;
    bottom: 10%;
    left: 74%;
}
.mushroom {
    display: none;
    max-width: 12%;
    bottom: 3%;
    left: 73%;
}
.robegoje {
    display: none;
    max-width: 8%;
    bottom: 3%;
    left: 49%;
}
.fish {
    display: none;
    max-width: 12%;
    bottom: 3%;
    left: 63%;
}
.meygu {
    display: none;
    max-width: 6%;
    bottom: 1%;
    left: 41%;
}
.banana {
    display: none;
    max-width: 12%;
    bottom: -1%;
    left: 26%;
}
.zafaroon {
    display: none;
    max-width: 8%;
    bottom: 1%;
    left: 27%;
}
.icecream {
    display: none;
    max-width: 9%;
    left: 79%;
    bottom: 12%;
}
.choc {
    display: none;
    max-width: 10%;
    bottom: 4%;
    left: 72%;
    ;
}
.stra {
    display: none;
    bottom: 4%;
    left: 35%;
    max-width: 8%;
}
.advie {
    display: none;
    max-width: 9%;
    bottom: 4%;
    left: 51%;
}
.yogu {
    display: none;
    max-width: 14%;
    left: 86%;
    bottom: 16%;
}
.bins {
    display: none;
    max-width: 7%;
    left: 80%;
    bottom: 14%
}
.parnipizza {
    display: none;
    max-width: 12%;
    bottom: 21%;
    left: 59%;
}
.gerdoo {
    display: none;
    max-width: 8%;
    bottom: 4%;
    left: 68%;
}
.robeanar {
    display: none;
    max-width: 4%;
    bottom: 17%;
    left: 10%;
}
.serke {
    display: none;
    max-width: 8%;
    left: 10%;
    bottom: 3%;
}
.roghanzey {
    display: none;
    max-width: 7%;
    left: 8%;
    bottom: 20%;
}
.shekar {
    display: none;
    max-width: 8%;
    bottom: 4%;
    left: 53%;
}
.sabzi {
    display: none;
    max-width: 10%;
    bottom: 1%;
    left: 19%;
}
.watermelon {
    display: none;
    bottom: 12%;
    left: 28%;
    max-width: 15%;
}
.adas {
    display: none;
    bottom: 10%;
    max-width: 12%;
    left: 80%;
}
.khiar {
    display: none;
    max-width: 10%;
    left: 26%;
    bottom: 4%;
}
.corn {
    display: none;
    max-width: 10%;
    left: 57%;
    bottom: 18%;
}
.sir {
    display: none;
    max-width: 8%;
    bottom: 4%;
    right: 0%;
}
.felfeldo {
    display: none;
    max-width: 12%;
    left: 12%;
    bottom: 3%;
}
.felfel {
    display: none;
    max-width: 6%;
    bottom: 4%;
    left: 44%;
}
.holoo {
    display: none;
    max-width: 10%;
    bottom: 3%;
    left: 45%;
}
.porteghal {
    display: none;
    max-width: 13%;
    bottom: 15%;
    right: 47%;
}
.albaloo {
    display: none;
    max-width: 8%;
    bottom: 2%;
    left: 40%;
}
.sosage {
    display: none;
    max-width: 12%;
    right: 89%;
    bottom: 9%;
}
.kalbas {
    display: none;
    max-width: 20%;
    right: -5%;
    bottom: 9%;
}
.apple {
    display: none;
    bottom: 2%;
    right: 30%;
    max-width: 12%;
}
/*
.eggs{
position: absolute;
max-height: 60%;
max-width: 60%;
}
*/

.inputs {
    height: 200px;
    ;
    /*position: relative;*/
    
    margin-top: 104px;
    margin-left: 600px;
    max-width: 60%;
    padding-right: 0px;
    /*
top: 150px;
left: 60px;
*/
    
    position: relative;
}
.inp {
    position: relative;
    width: 400px;
    /*    margin-left: 50px;*/
}
#parent div {
    position: absolute;
    left: 5px;
    right: 5px;
}
#parent div input {
    width: 100%;
}
#mavad {
    text-align: right;
    border: none;
    font-family: "A Iranian Sans";
    color: white;
    background-color: black;
    padding: 20px 70px 20px 70px;
    position: absolute;
    margin-left: 250px;
    margin-top: 100px;
}
.item {
    width: 70px;
    height: 40px;
    background-color: #9e2020;
    border-radius: 10px;
}
form.form {
    color: #473e39;
    height: 60px;
    margin: 40px auto 5px;
    padding: 0;
    width: 380px;
}
.form-container {
    max-width: 380px;
    margin-top: 40px;
}
.form input {
    background-color: black;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
    color: white;
    float: right;
    font-family: "A Iranian Sans";
    font-size: 16px;
    height: 60px;
    margin: 40px 5px 0 0;
    padding: 0 20px;
    width: 315px;
    text-align: right;
}
.form input:focus {
    background-color: black;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
    outline: none;
}
.form button.btn {
    background-color: black;
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
    color: #fff;
    float: right;
    font-family: "A Iranian Sans";
    font-size: 16px;
    margin-top: 40px;
    height: 60px;
    width: 60px;
}
.form button:hover {
    background: #9e2020;
    cursor: pointer;
}
.enterbtn {
    display: inline;
    font-family: "A Iranian Sans";
    color: white;
    background-color: black;
    height: 60px;
    width: 121px;
    outline: none;
    border: none;
    position: absolute;
    margin-top: 40px;
    right: 71%;
}
.flist,
.slist {
    display: inline-block;
    max-height: 80%;
    list-style-type: none;
    max-width: 100%;
    padding-left: 0px;
    margin-right: 70px;
}
#f {
    display: block;
    text-align: right;
    font-family: "A Iranian Sans";
    font-size: 12px;
    color: white;
    /*width: 90%;*/
    
    max-width: 100%;
    border-radius: 10px 10px 10px 10px;
    background-color: #9e2020;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    /*margin-right: 10px;*/
}
@keyframes piazmoves {
    from {
        left: 37%;
    }
    to {
        left: 35%;
    }
}
@keyframes sbz {
    from {
        bottom: 44%;
        transform: rotateZ(30deg);
    }
    to {
        bottom: 53%;
        transform: rotateZ(40deg);
    }
}
@keyframes sbzz {
    from {
        bottom: 17%;
        transform: rotateZ(30deg);
    }
    to {
        bottom: 30%;
        transform: rotateZ(40deg);
    }
}
@keyframes tom {
    from {
        bottom: 12%;
        left: 18%;
    }
    to {
        left: 5%;
        bottom: 5%;
    }
}
@keyframes goup {
    from {
        bottom: 10%;
    }
    to {
        bottom: 20%;
    }
}
@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(-10deg);
    }
}
@keyframes felfeli {
    from {
        bottom: 12%;
        left: 45%;
    }
    to {
        left: 30%;
        bottom: 1%
    }
}
@keyframes comedown {
    from {
        height: 0%;
    }
    to {
        height: 72px;
    }
}
@keyframes shrink {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
}
@keyframes shrinktoleft {
    from {
        right: -10%
    }
    to {
        right: 13%;
    }
}