@charset "UTF-8";
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*    overflow-x: hidden;*/
}
.firsthalf {
    height: 100%;
    overflow: scroll;
}
.secondhalf {
    height: 100%;
}
.imagecontainer {
    height: inherit;
    background-image: url(../images/tachin.jpg);
    background-size: cover;
}
.foodname {
    position: relative;
    color: #9e2020;
    font-family: "A Iranian Sans";
    font-size: 48px;
    text-align: center;
    clear: both;
    margin-top: 72px;
}
.divider {
    background-color: #9e2020;
    width: 615px;
    height: 5px;
    position: relative;
}
.headermenu {
    background-color: rgba(0, 0, 0, 0.361);
    position: fixed;
    height: 72px;
    text-align: center;
    z-index: 3;
    -webkit-animation: comedown 3s;
    -o-animation: comedown 3s;
    -moz-animation: comedown 3s;
    animation: comedown 3s;
}
.headerlink {
    display: inline-block;
    position: relative;
    margin-top: 25px;
    margin-left: 10px;
    color: white;
    font-size: 11.67px;
    font-family: "A Iranian Sans";
    text-align: center;
}
.headerlink:link {
    text-decoration: none;
}
.headerlink:visited {
    color: white;
    text-decoration: none;
}
.headerlink:hover {
    text-decoration: none;
    /*font-size: 20px;*/
}
.headerlink:active {
    text-decoration: none;
}
.toolBar {
    position: relative;
    text-align: center;
}
.icontitle {
    color: #9e2020;
    font-family: "A Iranian Sans";
    display: inline;
}
.sutun {
    margin-top: 5%;
    text-align: right;
    padding-right: 7%;
    overflow: scroll;
}
.red {
    background-color: #9e2020;
    font-family: "A Iranian Sans";
    display: block;
    color: white;
    padding: 10px 10px 10px 10px;
    float: right;
    border-radius: 10px 10px 10px 10px;
    white-space: pre;
}
select {
    /*
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
*/
    
    background-color: #9e2020;
    color: white;
}
.leveldis,
.leveltitle {
    font-family: "A Iranian Sans";
    color: #9e2020;
    padding-right: 10px;
}
.leveldis {
    padding-left: 10%;
    padding-top: 3%;
}
/*
.levelsimg{

background-image: url(../images/tachin.jpg);
background-repeat: no-repeat;
background-position: right;
opacity: 0.3;
z-index: -5;
position: relative;
width: 100%;
}
*/

.lvl {
    /*max-width: 50%;*/
    /* float: right; */
    /* max-width: 50%; */
    
    background-image: url(../images/tachin.jpg);
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.3;
    z-index: -5;
    position: relative;
    max-width: 50%;
    height: 100%;
    position: absolute;
    margin-left: 53%;
    /*    background-size: cover;*/
}
.titlefloat {
    display: inline;
    float: right;
    clear: both;
}
.tozih {
    /*
background-image: url(../images/tachin.jpg);
background-repeat: no-repeat;
background-position: right;
*/
    /*    background-position: 35% auto;*/
    /*background-size: cover;*/
    
    text-align: right;
    height: 100%;
    position: relative;
    overflow-y: scroll;
    /*    overflow-x: inherit;*/
}
.bord-right {
    height: 16%;
    width: 0.5%;
    /* position: relative; */
    
    margin-left: 5px;
    background-color: #9e2020;
}
.disrow {
    width: 50%;
    border-right: 3px solid #9e2020;
    margin-top: 5%;
    z-index: 1;
    max-height: 27%;
    /*    position: absolute;*/
    /*    border-right: none;*/
}
.information {
    overflow: scroll;
    height: 100%;
}
.checkicon {
    display: none;
    position: relative;
    display: inline;
    margin-right: 60%;
    max-width: 11%;
}
.imp {
    font-size: 17px;
}
.footerlink {
    display: inline-block;
    position: relative;
    margin-left: 40px;
    margin-top: 10px;
    color: black;
    font-size: 13.67px;
    font-family: "A Iranian Sans";
}
.footerlink:link {
    text-decoration: none;
}
.footerlink:visited {
    color: black;
    text-decoration: none;
}
.footerlink:hover {
    text-decoration: none;
}
footer {
    background-color: #d1cdcd;
    height: 38px;
}
.copyright {
    position: relative;
    font-size: 10.67px;
    font-family: "A Iranian Sans";
    margin-left: 20px;
    margin-top: 15px;
}
