@charset "UTF-8";
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.mainbackground {
    height: 660px;
    background-color: white;
    position: relative;
    overflow: hidden;
}
.drinkspng {
    position: relative;
    height: 660px;
    width: 100%;
}
.lemonslice {
    position: absolute;
    width: 190px;
    height: 190px;
    left: 850px;
    top: 430px;
    animation: falldown 5s;
}
.choco {
    position: absolute;
    left: 180px;
    bottom: 250px;
}
.choco1 {
    top: -150px;
    animation: falldownchoco1 5s;
}
.choco2 {
    top: -500px;
    animation: falldownchoco2 5s ease 1s;
    animation-fill-mode: forwards;
}
.limepiece {
    position: absolute;
    left: 310px;
    top: 260px;
}
.container {
    position: absolute;
    top: 4px;
    animation: falldownlemonpiece 6s;
}
.lemonreflection {
    opacity: 0;
    position: absolute;
    left: 340px;
    top: 245px;
    overflow: hidden;
    animation: reflection 4s ease 1s;
    animation-fill-mode: forwards;
}
.orangeslice {
    position: absolute;
    left: 200px;
    width: 280px;
    height: 200px;
    top: -200px;
    animation: falldownorange 5s;
    animation-fill-mode: forwards;
}
.nana1 {
    position: absolute;
    top: -10px;
    width: 100%;
    height: 660px;
}
.orangepiece {
    position: absolute;
    left: -340px;
    top: 250px;
    animation: falldownorangepiece 5s;
}
.heading {
    background-color: black;
    position: relative;
    margin-top: -600px;
    width: 50%;
    opacity: 0.361;
    height: 72px;
    text-align: center;
    animation: shrink 5s;
}
.drinkhead {
    color: white;
    font-family: "A Iranian Sans";
    font-size: 52.78px;
    position: relative;
    opacity: 0;
    animation: turnout 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
.headermenu {
    background-color: rgba(0, 0, 0, 0.361);
    position: fixed;
    left: 50%;
    margin-top: -152px;
    width: 50%;
    height: 72px;
    text-align: center;
    z-index: 3;
    -webkit-animation: comedown 3s;
    -o-animation: comedown 3s;
    -moz-animation: comedown 3s;
    animation: comedown 3s;
}
.headerlink {
    display: inline-block;
    position: relative;
    margin-top: 25px;
    margin-left: 10px;
    color: white;
    font-size: 11.67px;
    font-family: "A Iranian Sans";
    text-align: center;
}
.headerlink:link {
    text-decoration: none;
}
.headerlink:visited {
    color: white;
    text-decoration: none;
}
.headerlink:hover {
    text-decoration: none;
    /*font-size: 20px;*/
}
.headerlink:active {
    text-decoration: none;
}
.toolBar {
    position: relative;
    padding-left: 40px;
    text-align: center;
}
.col-sm-3 {
    72px;
}
.logo {
    height: 100%;
    width: 100%;
}
.mainsection {
    background-image: url(../images/d.jpg);
    background-size: cover;
    min-height: 1118px;
    text-align: center;
}
.scroll {
    background-color: rgba(0, 0, 0, 0.361);
    height: 52px;
    margin-top: 470px;
    text-align: center;
}
.glyphicon-chevron-down {
    font-size: 30px;
    color: white;
    left: auto;
    right: auto;
}
.searchbox {
    height: 69px;
    position: relative;
}
.lemonade {
    height: 280px;
    max-width: 93%;
    width: 93%;
    border: 10px solid rgba(183, 150, 150, 0.5);
    position: relative;
    -webkit-background-clip: padding-box;
    /* for Safari */
    
    background-clip: padding-box;
    /* for IE9+, Firefox 4+, Opera, Chrome */
    
    box-shadow: 1px 1px 2px #e6e6e6;
    transition: all 0.2s ease-in;
}
.frow {
    margin-bottom: 20px;
    padding-right: 70px;
    padding-left: 70px;
}
.srow,
.thirdrow,
.orow {
    padding-right: 70px;
    padding-left: 70px;
    margin-top: 20px;
}
.drinkname {
    text-align: right;
    /*    background-color: rgba(175, 35, 35,0.5);*/
    
    opacity: 1;
    position: absolute;
    margin-top: -40px;
    margin-left: 13px;
    width: 334px;
    height: 41px;
    clear: both;
    z-index: 1;
    background: linear-gradient(to right, rgba(121, 87, 87, 0.5), rgb(187, 98, 98));
    /*    transition: width 4s;*/
}
.mask {
    position: absolute;
    top: 0;
    left: 29px;
    right: 28px;
    overflow: hidden;
    /*background-color: rgba(175, 35, 35,0.6);*/
    
    background-color: rgba(183, 83, 92, 0.6);
    opacity: 0;
    transform: translate(460px, -100px) rotate(180deg);
    transition: all 0.2s 0.4s ease-in-out;
}
.mask p {
    font-family: "A Iranian Sans";
    color: white;
    font-size: 12px;
    padding: 10px 20px 20px;
    text-align: center;
    position: relative;
    transform: translateX(300px) rotate(90deg);
    transition: all 0.2s ease-in-out;
}
.mask h6 {
    font-family: "A Iranian Sans";
    color: white;
    font-size: 17px;
    position: relative;
    text-align: center;
    padding: 10px;
    background: rgba(1, 1, 1, 0.8);
    margin: 20px 0 0 0;
    transform: translateY(-100px);
    transition: all 0.2s ease-in-out;
}
.c {
    position: relative;
    /*box-shadow: 1px 1px 2px #e6e6e6;*/
    
    z-index: 0;
}
.c:hover .mask {
    opacity: 1;
    transition-delay: 0s;
    transform: translate(0px, 0px);
}
.c:hover h6 {
    transform: translateY(0px);
    transition-delay: 0.5s;
}
.c:hover p {
    transform: translateX(0px) rotate(0deg);
    transition-delay: 0.4s;
}
.drinknameheading {
    font-family: "A Iranian Sans";
    color: white;
    font-size: 26px;
    margin-top: 5px;
    margin-right: 10px;
    text-align: right;
    clear: both;
}
span.glyphicon-heart {
    position: absolute;
    margin-top: 4px;
    margin-left: 10px;
    font-size: 30px;
    color: white;
}
.buttondown {
    display: none;
}
.loadmore {
    font-family: "A Iranian Sans";
    font-size: 18px;
    color: white;
    position: relative;
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    padding: 10px 60px 10px 60px;
    background-color: #9e2020;
}
.backtotop {
    font-family: "A Iranian Sans";
    font-size: 18px;
    color: white;
    position: relative;
    text-align: center;
    border: none;
    padding: 10px 60px 10px 60px;
    background-color: #9e2020;
    margin-left: 40px;
    margin-right: 40px;
}
.form input {
    background-color: black;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
    color: white;
    float: right;
    font-family: "A Iranian Sans";
    font-size: 16px;
    height: 56px;
    /* margin: 40px 5px 0 0; */
    
    padding: 0 20px;
    width: 315px;
    margin-right: 35%;
    margin-left: auto;
    text-align: right;
}
.form button.btn {
    background-color: black;
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
    color: #fff;
    float: right;
    font-family: "A Iranian Sans";
    font-size: 16px;
    /* margin-top: 40px; */
    
    height: 56px;
    width: 60px;
}
.namayeshhead {
    display: inline;
    float: right;
    /* margin-bottom: 4%; */
    /* bottom: 35%; */
    
    position: relative;
    /* top: 43%; */
    
    margin-top: 0%;
    /* right: -48%; */
    
    font-family: "A Iranian Sans";
    color: #9e2020;
    font-size: 16px;
    border-left: 3px solid;
    padding-left: 3%;
}
.aaa {
    display: inline;
    /* position: absolute; */
    
    position: relative;
    /* top: 95px; */
    /* right: -32%; */
    
    margin-right: 5%;
    font-family: "A Iranian Sans";
    color: #9e2020;
}
.aaa:link {
    text-decoration: none;
}
.aaa:visited {
    text-decoration: none;
}
.aaa:hover {
    text-decoration: none;
}
.searchbox {
    height: 116px;
    position: relative;
    text-align: center;
    left: -3%;
    top: 9px;
}
.suggest {
    position: absolute;
    text-align: center;
    top: 51%;
    left: 16%;
    width: 69%;
    padding-top: 1%;
}
.suggest li {
    position: relative;
    display: inline;
    list-style: none;
    text-align: center;
}
@keyframes comedown {
    from {
        height: 0%;
    }
    to {
        height: 72px;
    }
}
@keyframes shrink {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
}
@keyframes falldownorangepiece {
    from {
        top: -200px;
    }
    to {
        top: 250px;
    }
}
@keyframes falldownchoco1 {
    from {
        top: -500px;
    }
    to {
        top: -150px;
    }
}
@keyframes falldownchoco2 {
    from {
        top: -500px;
    }
    to {
        top: -120px;
    }
}
@keyframes falldownlemonpiece {
    from {
        top: -200px;
    }
    to {
        top: 4px;
    }
}
@keyframes falldownorange {
    from {
        top: -200px;
    }
    to {
        top: 330px;
    }
}
@keyframes falldown {
    from {
        top: -200px;
    }
    to {
        top: 430px;
    }
}
@keyframes reflection {
    from {
        top: 300px;
        opacity: 0
    }
    to {
        top: 245px;
        opacity: 0.5;
    }
}
@keyframes turnout {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}