@charset "UTF-8";
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*    overflow-x: hidden;*/
}
.mainbackground {
    height: 100%;
    background-color: white;
    position: relative;
    overflow: hidden;
}
.imagecontainer {
    border-radius: 50%;
    overflow: hidden;
}
.propic {
    border-radius: 50%;
    /* max-width: 30%; */
    /* max-height: 50%; */
    
    width: 26%;
    height: 51%;
    position: relative;
    top: 14%;
    right: -37%;
    vertical-align: middle;
}
.backpng {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}
.icon {
    margin-right: 10%;
    display: inline;
    max-width: 100%;
    max-height: 100%;
}
.iconname {
    display: inline;
    font-family: "A Iranian Sans";
    color: white;
    text-align: center;
}
.headermenu {
    background-color: rgba(0, 0, 0, 0.361);
    position: fixed;
    left: 50%;
    top: 0;
    width: 50%;
    height: 72px;
    text-align: center;
    z-index: 3;
    -webkit-animation: comedown 3s;
    -o-animation: comedown 3s;
    -moz-animation: comedown 3s;
    animation: comedown 3s;
}
.headerlink {
    display: inline-block;
    position: relative;
    margin-top: 25px;
    margin-left: 10px;
    color: white;
    font-size: 11.67px;
    font-family: "A Iranian Sans";
    text-align: center;
}
.headerlink:link {
    text-decoration: none;
}
.headerlink:visited {
    color: white;
    text-decoration: none;
}
.headerlink:hover {
    text-decoration: none;
    /*font-size: 20px;*/
}
.headerlink:active {
    text-decoration: none;
}
.toolBar {
    position: relative;
    padding-left: 40px;
    text-align: center;
}
.col-sm-3 {
    72px;
}
.logo {
    height: 100%;
    width: 100%;
}
.mainsection {
    background-image: url(../images/d.jpg);
    background-size: cover;
    min-height: 1118px;
    text-align: center;
    overflow-x: hidden;
}
.inf {
    background-color: rgba(0, 0, 0, 0.361);
    height: 52px;
    /* margin-top: 447px; */
    
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.details {
    padding: 0% 0% 0% 10%;
    bottom: 0%;
    background-color: rgba(167, 59, 59, 0.361);
}
.name {
    bottom: 20%;
    text-align: center;
}
.searchbox {
    height: 69px;
    position: relative;
}
.personname {
    font-family: "A Iranian Sans";
    color: white;
    text-align: center;
    /* bottom: 10%; */
    
    position: relative;
    /* margin-bottom: 9%; */
    
    font-size: 35px;
    margin-top: 0%;
    clear: both;
    /*font-size: 17px;*/
}
.lemonade {
    height: 280px;
    max-width: 93%;
    width: 93%;
    border: 10px solid rgba(183, 150, 150, 0.5);
    position: relative;
    -webkit-background-clip: padding-box;
    /* for Safari */
    
    background-clip: padding-box;
    /* for IE9+, Firefox 4+, Opera, Chrome */
    
    box-shadow: 1px 1px 2px #e6e6e6;
    transition: all 0.2s ease-in;
}
.frow {
    margin-bottom: 20px;
    padding-right: 70px;
    padding-left: 70px;
}
.srow,
.thirdrow,
.orow {
    padding-right: 70px;
    padding-left: 70px;
    margin-top: 20px;
}
.drinkname {
    text-align: right;
    /*    background-color: rgba(175, 35, 35,0.5);*/
    
    opacity: 1;
    position: absolute;
    margin-top: -40px;
    margin-left: 13px;
    width: 334px;
    height: 41px;
    clear: both;
    z-index: 1;
    background: linear-gradient(to right, rgba(121, 87, 87, 0.5), rgb(187, 98, 98));
    /*    transition: width 4s;*/
}
.mask {
    position: absolute;
    top: 0;
    left: 29px;
    right: 28px;
    overflow: hidden;
    /*background-color: rgba(175, 35, 35,0.6);*/
    
    background-color: rgba(183, 83, 92, 0.6);
    opacity: 0;
    transform: translate(460px, -100px) rotate(180deg);
    transition: all 0.2s 0.4s ease-in-out;
}
.mask p {
    font-family: "A Iranian Sans";
    color: white;
    font-size: 12px;
    padding: 10px 20px 20px;
    text-align: center;
    position: relative;
    transform: translateX(300px) rotate(90deg);
    transition: all 0.2s ease-in-out;
}
.mask h6 {
    font-family: "A Iranian Sans";
    color: white;
    font-size: 17px;
    position: relative;
    text-align: center;
    padding: 10px;
    background: rgba(1, 1, 1, 0.8);
    margin: 20px 0 0 0;
    transform: translateY(-100px);
    transition: all 0.2s ease-in-out;
}
.c {
    position: relative;
    /*box-shadow: 1px 1px 2px #e6e6e6;*/
    
    z-index: 0;
}
.c:hover .mask {
    opacity: 1;
    transition-delay: 0s;
    transform: translate(0px, 0px);
}
.c:hover h6 {
    transform: translateY(0px);
    transition-delay: 0.5s;
}
.c:hover p {
    transform: translateX(0px) rotate(0deg);
    transition-delay: 0.4s;
}
.drinknameheading {
    font-family: "A Iranian Sans";
    color: white;
    font-size: 26px;
    margin-top: 5px;
    margin-right: 10px;
    text-align: right;
    clear: both;
}
span.glyphicon-heart {
    position: absolute;
    margin-top: 4px;
    margin-left: 10px;
    font-size: 30px;
    color: white;
}
.buttondown {
    display: none;
}
.loadmore {
    font-family: "A Iranian Sans";
    font-size: 18px;
    color: white;
    position: relative;
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    padding: 10px 60px 10px 60px;
    background-color: #9e2020;
}
.backtotop {
    font-family: "A Iranian Sans";
    font-size: 18px;
    color: white;
    position: relative;
    text-align: center;
    border: none;
    padding: 10px 60px 10px 60px;
    background-color: #9e2020;
    margin-left: 40px;
    margin-right: 40px;
}
@keyframes comedown {
    from {
        height: 0%;
    }
    to {
        height: 72px;
    }
}
@keyframes shrink {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
}
@keyframes comeleft {
    from {
        transform: rotateZ(0deg);
        top: 0%;
        right: -31%;
    }
    to {
        top: 4%;
        right: 14%;
        transform: rotateZ(-20deg);
    }
}