@charset "UTF-8";
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*    overflow-x: hidden;*/
}
.mainbackground {
    height: 100%;
    background-color: white;
    position: relative;
    overflow: hidden;
}
.backpng {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}
.logobig {
    max-height: 30%;
    max-width: 30%;
    width: 30%;
    height: 30%;
    position: relative;
    left: 33%;
    top: 30%;
    /* margin: auto; */
}
.rules {
    font-family: "A Iranian Sans";
    font-size: 15px;
    color: #9a4c4c;
    text-align: right;
    margin-right: 40%;
    /* float: right; */
    
    margin-top: 5%;
    margin-left: 5%;
}
.headermenu {
    background-color: rgba(0, 0, 0, 0.361);
    position: fixed;
    left: 50%;
    top: 0;
    width: 50%;
    height: 72px;
    text-align: center;
    z-index: 3;
    -webkit-animation: comedown 3s;
    -o-animation: comedown 3s;
    -moz-animation: comedown 3s;
    animation: comedown 3s;
}
.headerlink {
    display: inline-block;
    position: relative;
    margin-top: 25px;
    margin-left: 10px;
    color: white;
    font-size: 11.67px;
    font-family: "A Iranian Sans";
    text-align: center;
}
.headerlink:link {
    text-decoration: none;
}
.headerlink:visited {
    color: white;
    text-decoration: none;
}
.headerlink:hover {
    text-decoration: none;
    /*font-size: 20px;*/
}
.headerlink:active {
    text-decoration: none;
}
.toolBar {
    position: relative;
    padding-left: 40px;
    text-align: center;
}
.col-sm-3 {
    72px;
}
.logo {
    height: 100%;
    width: 100%;
}
.mainsection {
    height: 100%;
    background-image: url(../images/veg.jpg);
    background-repeat: no-repeat;
    background-size: 39%;
    background-position: right;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
}
.buttondown {
    display: none;
}
.loadmore {
    font-family: "A Iranian Sans";
    font-size: 18px;
    color: white;
    position: relative;
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    padding: 10px 60px 10px 60px;
    background-color: #9e2020;
}
.backtotop {
    font-family: "A Iranian Sans";
    font-size: 18px;
    color: white;
    position: relative;
    text-align: center;
    border: none;
    padding: 10px 60px 10px 60px;
    background-color: #9e2020;
    margin-left: 40px;
    margin-right: 40px;
}
@keyframes comedown {
    from {
        height: 0%;
    }
    to {
        height: 72px;
    }
}
@keyframes shrink {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
}
@keyframes comeleft {
    from {
        transform: rotateZ(0deg);
        top: 0%;
        right: -31%;
    }
    to {
        top: 4%;
        right: 14%;
        transform: rotateZ(-20deg);
    }
}