@charset "UTF-8";
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*    overflow-x: hidden;*/
}
.mainbackground {
    height: 100%;
    position: relative;
    overflow: hidden;
}
.mainback {
    height: 100%;
    width: 100%;
    position: absolute;
}
.headermenu {
    background-color: rgba(0, 0, 0, 0.361);
    position: fixed;
    left: 50%;
    top: 0;
    width: 50%;
    height: 72px;
    text-align: center;
    z-index: 3;
    -webkit-animation: comedown 3s;
    -o-animation: comedown 3s;
    -moz-animation: comedown 3s;
    animation: comedown 3s;
}
.headerlink {
    display: inline-block;
    position: relative;
    margin-top: 25px;
    margin-left: 10px;
    color: white;
    font-size: 11.67px;
    font-family: "A Iranian Sans";
    text-align: center;
}
.headerlink:link {
    text-decoration: none;
}
.headerlink:visited {
    color: white;
    text-decoration: none;
}
.headerlink:hover {
    text-decoration: none;
    /*font-size: 20px;*/
}
.headerlink:active {
    text-decoration: none;
}
.toolBar {
    position: relative;
    padding-left: 40px;
    text-align: center;
}
.logo {
    height: 100%;
    width: 100%;
}
.name {
    position: absolute;
    /* margin-right: 50%; */
    
    left: 68%;
    border-top: none;
    border-left: none;
    top: 31%;
    border-right: none;
    width: 20%;
    background: none;
    border-bottom: 3px solid black;
    text-align: right;
    color: black;
    font-family: "A Iranian Sans";
    outline: none;
}
.name:focus {
    outline: none;
}
.btnsubmit {
    position: absolute;
    right: 24%;
    top: 69%;
    padding: 5px 25px 5px 25px;
    background-color: #9e2020;
    color: white;
    font-family: "A Iranian Sans";
    border: none;
    border-radius: 15% 15% 15% 15%;
    outline: none;
}
.logoinback {
    position: absolute;
    left: 54%;
    top: 19%;
    max-width: 18%;
    width: 18%;
    opacity: 0.8;
}