@charset "UTF-8";
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
ul:after,
header:after {
    clear: both;
    content: "";
    display: table;
}
ul:before,
header:before {
    content: "";
    display: table;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#navnav > li{
        margin-left: 6%;
}
.headcontainer {
    height: 100px;
}
.col-sm-3 .col-sm-9 {
    height: 100px;
}
.sabtenamLink {
    background-color: rgb(175, 35, 35);
    position: relative;
    left: 48px;
    top: -10px;
    width: 16%;
    height: 50px;
    text-align: center;
    border: none;
    box-shadow: 1px 4px 13px #888888;
}
ul.nav li a,
ul.nav li a {
    font-family: "A Iranian Sans";
}
ul.nav li a,
ul.nav li a:visited {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}
ul.nav li a,
ul.nav li a:hover {
    color: black;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
        background-color: rgba(245, 245, 245, 0.56);
}
ul.nav li a,
ul.nav li a:active {
    color: #FFFFFF;
}
.navi {
    left: 10px;
    position: absolute;
}
#navnav{
    width: 100%;
    position: absolute;
}
ul.nav li a.headerlink{
    color: black;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color: white;
    background-color: rgb(173, 40, 40);
}
.divider {
      height: 20px;
    top: 16px;
    color: white;
    position: relative;
}
#vurud #sabtenam {
    font-size: 18px;
    font-family: "A Iranian Sans";
    color: rgb(255, 255, 255);
    line-height: 4;
    position: absolute;
    left: 58.359px;
    top: 10.001px;
    z-index: 59;
}
.rightside {
    display: table-cell;
    height: 100px;
}
.logo {
    width: 80%;
    height: 100%;
}
.main-menu {
    background-color: white;
    top: 95px;
}
.headerlink {
    display: inline-block;
    position: relative;
    /* margin-left: 4%; */
    margin-top: 0px;
    color: black;
    font-size: 16.67px;
    font-family: "A Iranian Sans";
    padding-left: 5px;
    padding-right: 5px;
}
.headerlink:link {
    text-decoration: none;
}
.headerlink:visited {
    color: black;
    text-decoration: none;
}
.headerlink:hover {
    text-decoration: none;
    background-color: rgba(158, 32, 32, 1);
    border-radius: 5px;
    color: white;
    box-shadow: 1px 4px 13px #888888;
}
.headerlink:active {
    text-decoration: none;
}
.mainnav{
        background-color: white;
        border: none;
        margin-bottom: 20px;
}
.dropdown-menu > li > a {
    font-family: "A Iranian Sans";
    color: white;
    text-align: right;
}
.dropdown-menu > li > a:hover {
    color: black;
}
.dropdown-menu {
    background-color: rgba(158, 32, 32, 0.9);
}
.toolBar {
    position: relative;
    padding-left: 40px;
    text-align: center;
}
.mainImageHome {
    background-image: url(../images/Letsmeatbackground_1463145231.jpg);
    background-size: cover;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 87%;
}
.bama {
    font-size: 10vh;
    font-family: "A Iranian Sans";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: right;
    position: absolute;
    left: 40%;
    top: 26%;
    -webkit-animation: fadein 3s;
    -moz-animation: fadein 3s;
    -ms-animation: fadein 3s;
    -o-animation: fadein 3s;
    animation: fadein 3s;
}
.ra {
    font-size: 10vh;
    font-family: "A Iranian Sans";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: right;
    position: absolute;
    left: 43%;
    top: 57%;
    -webkit-animation: fadein 3s;
    -moz-animation: fadein 3s;
    -ms-animation: fadein 3s;
    -o-animation: fadein 3s;
    animation: fadein 3s;
}
.ashpazi {
    font-size: 11vh;
    font-family: "A Iranian Sans";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: right;
    -moz-transform: matrix( 1.16926945706509, 0, 0, 1.16926945706509, 0, 0);
    -webkit-transform: matrix( 1.16926945706509, 0, 0, 1.16926945706509, 0, 0);
    -ms-transform: matrix( 1.16926945706509, 0, 0, 1.16926945706509, 0, 0);
    position: absolute;
    left: 50%;
    top: 55%;
    -webkit-animation: fadein 3s;
    -moz-animation: fadein 3s;
    -ms-animation: fadein 3s;
    -o-animation: fadein 3s;
    animation: fadein 3s;
}
.motefavet {
    font-size: 11vh;
    font-family: "A Iranian Sans";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: right;
    -moz-transform: matrix( 1.18780480694898, 0, 0, 1.18780480694898, 0, 0);
    -webkit-transform: matrix( 1.18780480694898, 0, 0, 1.18780480694898, 0, 0);
    -ms-transform: matrix( 1.18780480694898, 0, 0, 1.18780480694898, 0, 0);
    position: absolute;
    left: 20%;
    top: 55%;
    z-index: 88;
    -webkit-animation: fadein 3s;
    -moz-animation: fadein 3s;
    -ms-animation: fadein 3s;
    -o-animation: fadein 3s;
    animation: fadein 3s;
}
.tajrobekonid {
    font-size: 10vh;
    font-family: "A Iranian Sans";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: right;
    position: absolute;
    left: 20%;
    top: 76%;
    -webkit-animation: fadein 3s;
    -moz-animation: fadein 3s;
    -ms-animation: fadein 3s;
    -o-animation: fadein 3s;
    animation: fadein 3s;
}
nav.navbar-default {
    top: 50px;
}
.best-foods {
    background-image: url(../images/wood-table.jpg);
    background-size: cover;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    margin-top: 0px;
    width: 90%;
    height: 60%;
}
.containerr {
    /*  width: 1104px;*/
    
    width: 90%;
    height: 85%;
}
.container {
    width: 100%;
    height: 100%;
}
.title {
    font-family: "A Iranian Sans";
    color: white;
    margin-top: 0px;
    text-align: center;
    clear: both;
}
.bfoodname {
    font-size: 18.64px;
    clear: both;
}
.head-title {
    margin-top: 10px;
    font-size: 36px;
    line-height: 2;
    clear: both;
}
.head2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: inherit;
}
.divid {
    height: 5px;
    background-color: white;
    align-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.best-cheffs {
    background-color: #9e2020;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    margin-top: 0px;
    width: 90%;
    height: 60%;
}
.rightcheffback {
    background-image: url(../images/cheff3.jpg);
    background-color: #9e2020;
    background-blend-mode: hard-light;
    background-size: cover;
    width: 270px;
    height: 270px;
}
.centercheffback {
    background-image: url(../images/cheff2.jpg);
    background-color: #9e2020;
    background-blend-mode: hard-light;
    background-size: cover;
    width: 270px;
    height: 270px;
}
.leftcheffback {
    background-image: url(../images/cheff1.jpg);
    background-color: #9e2020;
    background-blend-mode: hard-light;
    background-size: cover;
    width: 270px;
    height: 270px;
}
.rightcheff {
    position: relative;
    margin-left: 15px;
    margin-top: 15px;
}
.cheffname {
    text-align: center;
    background-color: rgba(3, 1, 1, 0.58);
    opacity: 1;
    position: relative;
    margin-top: -40px;
    margin-left: 15px;
    width: 241px;
    height: 41px;
    z-index: 1010;
    clear: both;
}
.nameheader {
    position: absolute;
    top: 10px;
    left: 45px;
    font-size: 18.64px;
    clear: both;
    z-index: 101;
}
.footerlink {
    display: inline-block;
    position: relative;
    margin-left: 40px;
    margin-top: 10px;
    color: black;
    font-size: 13.67px;
    font-family: "A Iranian Sans";
}
.footerlink:link {
    text-decoration: none;
}
.footerlink:visited {
    color: black;
    text-decoration: none;
}
.footerlink:hover {
    text-decoration: none;
}
footer {
    background-color: #d1cdcd;
    height: 38px;
}
.copyright {
    position: relative;
    font-size: 10.67px;
    font-family: "A Iranian Sans";
    margin-left: 20px;
    margin-top: 15px;
}
.first,
.second,
.third {
    transition: all .2s ease-in-out;
}
.first:hover,
.second:hover,
.third:hover {
    transform: scale(1.1);
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes shrink {
    from {
        width: 0
    }
    to {
        width: 30%
    }
}