@charset "UTF-8";
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*    overflow-x: hidden;*/
}
.mainbackground {
    height: 100%;
    background: url(../images/tipback.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.heading {
    background-color: rgba(0, 0, 0, 0.361);
    position: absolute;
    top: 21%;
    /*    left: 20%;*/
    
    width: 50%;
    height: 72px;
    text-align: center;
    animation: shrink 4s;
}
.drinkhead {
    color: white;
    font-family: "A Iranian Sans";
    font-size: 52.78px;
    position: relative;
    text-align: center;
    clear: both;
    bottom: 24%;
    opacity: 0;
    animation: turnout 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
.headermenu {
    background-color: rgba(0, 0, 0, 0.361);
    position: fixed;
    left: 50%;
    top: 0;
    width: 50%;
    height: 72px;
    text-align: center;
    z-index: 3;
    -webkit-animation: comedown 3s;
    -o-animation: comedown 3s;
    -moz-animation: comedown 3s;
    animation: comedown 3s;
}
.headerlink {
    display: inline-block;
    position: relative;
    margin-top: 25px;
    margin-left: 10px;
    color: white;
    font-size: 11.67px;
    font-family: "A Iranian Sans";
    text-align: center;
}
.headerlink:link {
    text-decoration: none;
}
.headerlink:visited {
    color: white;
    text-decoration: none;
}
.headerlink:hover {
    text-decoration: none;
    /*font-size: 20px;*/
}
.headerlink:active {
    text-decoration: none;
}
.toolBar {
    position: relative;
    padding-left: 40px;
    text-align: center;
}
.logo {
    height: 100%;
    width: 100%;
}
.scroll {
    background-color: rgba(0, 0, 0, 0.361);
    height: 52px;
    /* margin-top: 447px; */
    
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.glyphicon-chevron-down {
    font-size: 30px;
    color: white;
    left: auto;
    right: auto;
}
.mainsection {
    height: 100%;
    background-color: #9e2020;
    overflow: scroll;
}
.tiptitle {
    text-align: right;
    display: inline-block;
    font-family: "A Iranian Sans";
    font-size: 30px;
    color: white;
    position: relative;
    right: -38%;
    padding-bottom: 2%;
    border-bottom: 3px solid white;
}
.tipic {
    width: 27%;
    height: 100%;
    position: relative;
}
.divider {
    height: 3px;
    background-color: white;
    position: absolute;
    width: 75%;
}
.tip {
    text-align: right;
    font-family: "A Iranian Sans";
    font-size: 15px;
    color: white;
    position: relative;
    padding-right: 3%;
    padding-left: 14%;
    position: relative;
    max-height: 45%;
    overflow-y: hidden;
}
.tipbtn {
    position: relative;
    background-color: white;
    padding: 9px 15px 9px 15px;
    margin-left: 5%;
    /* margin-top: 3%; */
    
    bottom: 11%;
    border: none;
}
.r {
    border-bottom: 3px solid white;
    overflow: hidden;
    height: 43%;
    position: relative;
}
@keyframes comedown {
    from {
        height: 0%;
    }
    to {
        height: 72px;
    }
}
@keyframes shrink {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
}
@keyframes turnout {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}