<!doctype html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>homepage</title>
      <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
      <link href="css/style.css" rel="stylesheet" type="text/css">
   </head>
   <body>
<div class="row headcontainer" ng-controller="NavbarCtrl">
         <div class="col-sm-9">
            <div class="row">
               <div class="row">
                  <div class="sabtenamLink navbar navbar-default">
                     <ul class="nav navbar-nav navi" style="position: absolute;left: 17%;">
                        <li><a id = "sabtenam" href="#">ثبت نام </a></li>
                        <li><span class="divider">|</span></li>
                        <li><a id="vurud" href="#">ورود</a></li>
                     </ul>
                  </div>
               </div>
               <div class="row toolBar">
                  <div class="col-md-12 center-block" style="margin-top: -2%;">
                   <div class="mainnav navbar navbar-default ">
                    <div class="navbar-header">
                  <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                   <a href="/" class="navbar-brand">meanshop</a>
                  </button>
                  </div>
                  <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
                   <ul class="nav navbar-nav navi" id="navnav">
                     <li><a href="#" class="headerlink">ظوابط و قوانین</a></li>
                     <li><a href="#" class="headerlink">تیپ آشپزی</a></li>
                     <li><a href="#" class="headerlink">چی بپزم؟</a></li>
                     <li><a href="#" class="headerlink">آشپزها</a></li>
                     <li><a href="#" class="dropdown-toggle headerlink" data-toggle="dropdown" role="button" aria-expanded="false">دستورپختها<span    class="caret"></span></a>
                     <ul class="dropdown-menu" role="menu">
                        <li><a href="#" class="submenu">غذاهای ایرانی</a></li>
                        <li><a href="#" class="submenu">پاستا</a></li>
                        <li><a href="#" class="submenu">دسر</a></li>
                        <li><a href="#" class="submenu">پیش غذا</a></li>
                        <!-- <li class="divider"></li> -->
                        <li><a href="#" class="submenu">نوشیدنی</a></li>
                        <!-- <li class="divider"></li> -->
                        <li><a href="#" class="submenu">صبحانه</a></li>
                     </ul>
                     <li><a href="#" class="headerlink">صفحه اصلی</a></li>
                     </ul></li>
                     </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-sm-3 rightside"><img src="images/394de234fef7fc99e7fc1f902d1fdc46.png" alt="logo" class="img-responsive logo"/> </div>
      </div>
      <div class="mainImageHome container-fluid">
         <p class="bama"> <span>  <br>با ما</span> </p>
         <p class="ra"> <span> را </span> </p>
         <p class="tajrobekonid"><span>تجربه کنید</span></p>
         <p><span class="motefavet">متفاوت</span>  <span class="ashpazi">آشپزی</span></p>
      </div>
      <div class="best-foods">
         <div class="container">
            <div class="head-2">
               <div class="row">
                  <div class="col-sm-3 divid">
                  </div>
                  <div class="col-sm-6">
                     <h3 class="title head-title">بهترین دستور پختهای هفته</h3>
                  </div>
                  <div class="col-sm-3 divid">
                  </div>
               </div>
            </div>
            <div id="carousel1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators" style="margin-bottom: -3%;">
                  <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel1" data-slide-to="1"></li>
                  <li data-target="#carousel1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner" role="listbox">
                  <div class="item active">
                     <div class="row b-melas">
                        <div class="col-sm-4 ">
                           <a href="#"><img class= "center-block first" width="260px" height="260px" src="images/chicken-milanesa-with-maggi-ranch-sauce-BA-090716.png" alt="chickenfood"/></a>
                           <h5 class="title bfoodname">خوراک ماهی</h5>
                        </div>
                        <div class="col-sm-4 ">
                           <a href="#"> <img class= "center-block second" width="260px" height="260px" src="images/grilled-broccoli-and-arugula-salad-BA-090716.png" alt="broklisalad"/></a>
                           <h5 class="title bfoodname">سالاد اسفناج</h5>
                        </div>
                        <div class="col-sm-4 ">
                           <a href="#"><img class= "center-block third"  src="images/warm-cocoa-pudding-with-candied-pecans-ba-092316.png" width="260px" height="260px" alt="shripfood"/></a>
                           <h5 class="title bfoodname">خوراک میگو</h5>
                        </div>
                     </div>
                  </div>
                  <div class="item">
                     <div class="row b-melas">
                        <div class="col-sm-4 ">
                           <a href="#"><img class= "center-block first" width="260px" height="260px" src="images/chicken-milanesa-with-maggi-ranch-sauce-BA-090716.png" alt="chickenfood"/></a>
                           <h5 class="title bfoodname">خوراک ماهی</h5>
                        </div>
                        <div class="col-sm-4 ">
                           <a href="#"><img class= "center-block second" width="260px" height="260px" src="images/grilled-broccoli-and-arugula-salad-BA-090716.png" alt="broklisalad"/></a>
                           <h5 class="title bfoodname">سالاد اسفناج</h5>
                        </div>
                        <div class="col-sm-4 ">
                           <a href="#"><img class= "center-block third"  src="images/warm-cocoa-pudding-with-candied-pecans-ba-092316.png" width="260px" height="260px" alt="shripfood"/></a>
                           <h5 class="title bfoodname">خوراک میگو</h5>
                        </div>
                     </div>
                  </div>
                  <div class="item">
                     <div class="row b-melas">
                        <div class="col-sm-4 ">
                           <a href="#"> <img class= "center-block first" width="260px" height="260px" src="images/chicken-milanesa-with-maggi-ranch-sauce-BA-090716.png" alt="chickenfood"/></a>
                           <h5 class="title bfoodname">خوراک ماهی</h5>
                        </div>
                        <div class="col-sm-4 ">
                           <a href="#"><img class= "center-block second" width="260px" height="260px" src="images/grilled-broccoli-and-arugula-salad-BA-090716.png" alt="broklisalad"/></a>
                           <h5 class="title bfoodname">سالاد اسفناج</h5>
                        </div>
                        <div class="col-sm-4 ">
                           <a href="#"> <img class= "center-block third"  src="images/warm-cocoa-pudding-with-candied-pecans-ba-092316.png" width="260px" height="260px" alt="shripfood"/></a>
                           <h5 class="title bfoodname">خوراک میگو</h5>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="best-cheffs">
         <div class="container">
            <div class="head-2">
               <div class="row">
                  <div class="col-sm-4 divid">
                  </div>
                  <div class="col-sm-4">
                     <h3 class="title head-title">برترین آشپزها</h3>
                  </div>
                  <div class="col-sm-4 divid">
                  </div>
               </div>
            </div>
            <div id="carousel2" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators" style="margin-bottom: -4.5%;">
                  <li data-target="#carousel2" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel2" data-slide-to="1"></li>
                  <li data-target="#carousel2" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner" role="listbox">
                  <div class="item active">
                     <div class="row b-cheffs">
                        <div class="col-sm-4 ">
                           <div class="center-block leftcheffback ">
                              <a href="#"><img class="rightcheff" src="images/cheff1.jpg" alt="cheff"   width= "241px" height= "240px"/></a>;
                              <div class="cheffname">
                                 <h5 class="title nameheader"> سرآشپز محمدی</h5>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-4 ">
                           <div class="center-block centercheffback ">
                              <a href="#"> <img class="rightcheff" src="images/cheff2.jpg" alt="cheff"   width= "241px" height= "240px"/></a>;
                              <div class="cheffname">
                                 <h5 class="title nameheader"> سرآشپز مظفری</h5>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-4 ">
                           <div class="center-block rightcheffback ">
                              <a href="#"><img class="rightcheff" src="images/cheff3.jpg" alt="cheff"   width= "241px" height= "240px"/></a>;
                              <div class="cheffname">
                                 <h5 class="title nameheader"> سرآشپز کمالی</h5>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="item">
                     <div class="row b-cheffs">
                        <div class="col-sm-4 ">
                           <div class="center-block leftcheffback ">
                              <a href="#"><img class="rightcheff" src="images/cheff1.jpg" alt="cheff"   width= "241px" height= "240px"/></a>;
                              <div class="cheffname">
                                 <h5 class="title nameheader"> سرآشپز محمدی</h5>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-4 ">
                           <div class="center-block centercheffback ">
                              <a href="#"><img class="rightcheff" src="images/cheff2.jpg" alt="cheff"   width= "241px" height= "240px"/></a>;
                              <div class="cheffname">
                                 <h5 class="title nameheader"> سرآشپز مظفری</h5>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-4 ">
                           <div class="center-block rightcheffback ">
                              <a href="#"><img class="rightcheff" src="images/cheff3.jpg" alt="cheff"   width= "241px" height= "240px"/></a>;
                              <div class="cheffname">
                                 <h5 class="title nameheader"> سرآشپز کمالی</h5>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="item">
                     <div class="row b-cheffs">
                        <div class="col-sm-4 ">
                           <div class="center-block leftcheffback ">
                              <a href="#"><img class="rightcheff" src="images/cheff1.jpg" alt="cheff"   width= "241px" height= "240px"/></a>;
                              <div class="cheffname">
                                 <h5 class="title nameheader"> سرآشپز محمدی</h5>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-4 ">
                           <div class="center-block centercheffback ">
                              <a href="#"><img class="rightcheff" src="images/cheff2.jpg" alt="cheff"   width= "241px" height= "240px"/></a>;
                              <div class="cheffname">
                                 <h5 class="title nameheader"> سرآشپز مظفری</h5>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-4 ">
                           <div class="center-block rightcheffback ">
                              <a href="#"><img class="rightcheff" src="images/cheff3.jpg" alt="cheff"   width= "241px" height= "240px"/></a>;
                              <div class="cheffname">
                                 <h5 class="title nameheader"> سرآشپز کمالی</h5>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <footer>
         <div class="row">
            <div class="col-sm-7">
               <h6 class="copyright">کليه حقوق اين سايت متعلق مدیر وب سایت می باشد و استفاده از مطالب با ذکر منبع بلامانع است</h6>
            </div>
            <div class="col-sm-5 pull-right">
               <a class="footerlink" href="#">درباره ما</a>
               <a class="footerlink" href="#">تماس با ما</a>
               <a class="footerlink" href="#">دانلود اپلیکشن</a>
            </div>
         </div>
      </footer>
      <script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>
      <script src="js/bootstrap.js" type="text/javascript"></script>
   </body>
</html>